PORT=3000
ADMIN_USERNAME=your_admin_username
ADMIN_PASSWORD=your_admin_password
ADMIN_TOKEN=your_secure_admin_token
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.abcde.mongodb.net/ryhme?retryWrites=true&w=majority

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
AWS_S3_BUCKET_NAME=your_bucket_name
